.Checkout {
  grid-template-columns: 3fr 1fr;
  grid-gap: 2rem;
  grid-row-gap: 1.5em;
  display: grid;
  padding: 0 0 4em 0;
}
.Checkout-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 0 0;
}
.Checkout-item .fas, .Checkout-item .fa-plus {
  margin: 0 0 0 7px;
  color: var(--color);
  cursor: pointer;
  transition: color 0.5s;
}
.Checkout-item button {
  background-color: transparent;
  border: none;
  outline: none;
  width: 25px;
}
.Checkout-element {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #eee;
}
.Checkout-titles h4, .Checkout-element span {
  margin: 5px 0;
}

.Checkout-titles {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  text-align: center;
  width: calc(100% - 50px);
}

.Checkout-sidebar button {
  box-shadow: inset 0px 1px 0px 0px #bee2f9;
  background: linear-gradient(to bottom, #0089df 5%, #0089df 100%);
  background-color: #63b8ee;
  border-radius: 6px;
  border: 1px solid #3866a3;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #7cacde;
  width: 100%;
  display: block;
  outline: none;
}

.Checkout-sidebar button:hover {
  opacity: 0.75;
}
.Checkout-sidebar button:active {
  background: #468faf;
  color: #5e5e5e;
  opacity: 0.75;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 660px) {
  .Checkout {
    display: flex;
    flex-direction: column;
  }
  
  .Checkout-sidebar button:hover {
    opacity: 1;
  }
}