.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
  height: 60px;
  width: 100%;
}
.Header-bt-icon {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.Header-container-icon {
  height: 60px;
  width: 60px;
}
.Header-icon {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.Header-checkout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 70px;
  margin: 0 0 0 0.5em;
}
.Header-checkout span {
  display: flex;
  align-items: center;
  width: 30px;
}
.Header-alert {
  color: #33b13a;
  font-size: 14px;
  margin-left: 5px;
}
.Header a {
  height: 22px;
  text-decoration: none;
  color: #0089df;
}
.bt-mode {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  height: 22px;
  width: 30px;
  color: #0089df;
}
.bt-mode i {
  width: 18px;
  height: 16px;
}
.fa-sun::before, 
.fa-moon::before {
  display: inline-block;
  width: 18px;
  height: 20px;
  vertical-align: middle;
  font-size: 18px;
}
