@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');

:root {
  --background: #f7fff7;
  --color: #000814;
  --bk-prod-item: #e2eafc;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--color);
  font-family: 'Open Sans', sans-serif;
  transition: background 0.35s, color 0.35s;
}

.Main {
  position: fixed;
  padding: 10px 0;
  grid-template-columns: minmax(auto, 90%);
  display: grid;
  justify-content: center;
  row-gap: 15px;
}

#splash {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  background-color: #000814;
  height: 100%;
  width: 100%;
}

#splash h1 {
  opacity: 0;
  font-size: 50px;
  animation-name: splash;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  color: #97ca3f;
}

@keyframes splash {
  0% {
    transform: scale(0.80);
    opacity: 0.25;
  }
  25% {
    transform: scale(1);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.075);
    opacity: 0.60;
  }
  75% {
    transform: scale(1.15);
    opacity: 0.75;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media only screen and (max-width: 512px) {
  #splash h1 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 392px) {
  #splash h1 {
    font-size: 30px;
  }
}