.Payment {
  display: grid;
  grid-template-columns: minmax(300px, 750px);
  justify-content: center;
}
.Payment-back {
  margin: 10px 0 0 0;
}
.Payment-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Payment-item .fas {
  margin: 0 0 0 10px;
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.Payment-item button {
  background-color: transparent;
  border: none;
  outline: none;
}
.Payment-elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #eee;
}
.Payment-element{
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #eee;
}
.Payment-titles h4, .Payment-titles h3, .Payment-element span {
  margin: 5px;
}
.Payment-titles {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  text-align: center;
  width: 100%
}
