.Products-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 25px;
}
.Products-item {
  background: var(--bk-prod-item);
  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06),
    1px 3px 8px rgba(39, 44, 49, 0.03);
  border-radius: 5px;
  position: relative;
  height: 350px;
  width: 250px;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  transition:  background 0.5s, height 0.65s, width 0.65s, box-shadow 0.65s;
  user-select: none;
}
.Products-item-info {
  padding: 10px;
}
.Products-item-info h2 {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.Products-item-info h2 span {
  color: #33b13a;
}
.Products-item-info p {
  font-size: 14px;
  font-weight: 300;
}
.Products-item img {
  width: 100%;
  height: 200px;
  border-radius: 5px 5px 0 0;
  object-fit: contain;
  transition: height 0.65s;
}
.Products-item button {
  background: linear-gradient(to bottom, #0089df 5%, #0089df 100%);
  width: 100%;
  padding: 10px;
  border-radius: 0px 0px 5px 5px;
  border: 0px;
  outline: 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
}
.Products-item button:hover {
  opacity: 0.75;
}
.Products-item button:active {
  background: #468faf;
  color: #5e5e5e;
  opacity: 0.75;
}

.counter-div {
  margin: 15px 0;
}

.counter-div button {
  width: 35px;
  padding: 5px;
  margin: 10px 15px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
}

.counter-div button i {
  margin: 0;
}

@media screen and (max-width: 600px) {
  .Products-items {
    grid-template-columns: 1fr;
  }
  .Products-item button:hover {
    opacity: 1;
  }
}